@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Alajuela, Costa Rica<br />
       <br />
        <abbr title="Número">P:</abbr>
        +506 85011597
    </address>

    <address>
        <strong>Mail:</strong> carlobonilla640@gmail.com<br />
       
    </address>
</main>